@import 'variables', 'mixins';

.about__content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  @include tablet {
    display: block;
  }
}

.about__text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.about__skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;

  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 0.9rem;

    &::before {
      content: '▹';
      position: absolute;
      left: 0;
      color: var(--primary-color);
      line-height: 1.2;
    }
  }
}